.projectContainer{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.cardProject {
    position: relative;
    width: 253px;
    height: 338px;
    background-color: #000;
    display: flex;
    flex-direction: column;
    padding: 12px;
    gap: 12px;
    border-radius: 8px;
    cursor: pointer;
    z-index: 6;
  }
  
  .cardBox{
    margin: 10% 0;
    width: 90%;
  }

  .projectTitle{
    color: #ece4de;
    text-align: center;
    display: block;
    width: -moz-fit-content;
    width: fit-content;
    margin: 10% 0 -2%;
    letter-spacing: 4px;
    font-size: 30px;
  }

  .heading{
    color:#ece4de;
    text-align: center;
    padding-top: 2%;
    font-size: 1.2em;
  }

  .linkVid{
    color:#ece4de;
    text-align: center;
    padding-top: 2%;
    font-size: 1.2em;
    display: block;

  }

  .project1 {
    width: 80%;
    height: auto;
    margin: 0 auto;
    display: block;
    max-width: 800px;
  }

  .project2 {
    width: 25%;
    height: auto;
    margin: 0 auto;
    display: block;
    max-width: 250px;
  }

  .project3 {
    width: 25%;
    height: auto;
    margin: 0 auto;
    display: block;
    max-width: 250px;
  }

  .compéBox {
    display: flex;
    justify-content: center;
  }

  .iconSkillProject{
    display: block;
    margin: 3%;
  }

  @media only screen and (min-width: 768px) and (max-width: 1024px){
    .projectContainer {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: column;
      margin: 0 auto;
      width: 100%;
      height: 100%;
  }
  .cardProject{
    width: 20%;
  }
  }

  @media only screen and (max-width: 480px) {
    /* Styles à appliquer uniquement aux mobiles en mode paysage */
    .projectContainer {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: column;
      width: 100%;
      height: 100%;
    }

    .projectTitle {
      font-size: 25px;
    }
    .heading {
      font-size: 12px;
      margin : 4% 0;
  }
  .linkVid{
    font-size: 12px;
      margin : -4% 0 0 4%;
  }
  .project1 {
    width: 100%;
    max-width: none;
  }

  .project2 {
    width: 70%;
    max-width: none;
  }

  .project3 {
    width: 70%;
    max-width: none;
  }
  }
