.video-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .tiktok-embed {
    width: calc(60vw - 20px); /* 10vw de marge de chaque côté */
    height: calc(69vh - 20px); /* 10vw de marge en haut et en bas */
    max-width: 605px;
    /* min-width: 325px; */
  }