.languagesContainer {
    display: flex;
    justify-content: space-between;
    width: -moz-fit-content;
    width: 70px;
    height: -moz-fit-content;
    position: fixed;
    top: 9%;
    right: 5.5em;
    animation: imgfadein 2s ease-in;
    -moz-animation: imgfadein 2s ease-in;
    -webkit-animation: imgfadein 2s ease-in;
    -o-animation: imgfadein 2s ease-in;
    z-index: 10;
}

.btnLanguage {
    margin: 0 5%;
    padding: 7% 25% 7% 25%;
    font-size: 14px;
    color: rgb(236 228 222);
    background-color: black;
    font-weight: 900;
    border-radius: 25px;
    width: auto;
}

.btnLanguageActif {
    color:black;
    background-color: rgb(236 228 222);
}

@media only screen and (max-width: 480px) {
    /* Styles spécifiques pour les smartphones en mode portrait */

    .languagesContainer {
        top: 4em;
        right: 2.5em;
    }
    .btnLanguage {
        font-size: 10px;
        margin: 3px;
    }
  }