.languagesContainer {
    display: flex;
    width: fit-content;
    height: fit-content;
    position: fixed;
    top: 24px;
    right: 54px;
    animation: imgfadein 2s ease-in;
    -moz-animation: imgfadein 2s ease-in;  
    -webkit-animation: imgfadein 2s ease-in;  
    -o-animation: imgfadein 2s ease-in; 
}

.btnLanguage {
    margin: 0 5%;
    padding: 10% 10% 8%;
    font-size: 15px;
    color:rgb(236 228 222) ;
    background-color: black;
    font-weight: 900;
    border-radius: 8px;
}

.btnLanguageActif {
    color:black;
    background-color: rgb(236 228 222);
}