.presensationCard {
    position: fixed;
    bottom: 17%;
    left: 55px;
    width: fit-content;
    z-index: 10;
}

.presentationCardContainer {
    position: relative;
    /* background: rgb(236 228 222); */
    background-color: hsl(0deg 0% 0% / 46%);
    width: 25vw;
    max-width: 320px;
    text-align: center;
    border-radius: 20px;
    padding: 2%;
    /* border: 4px solid black; */
    user-select: none;
    animation: cardfadein 1s; 
    -moz-animation: cardfadein 1s; 
    -webkit-animation: cardfadein 1s; 
    -o-animation: cardfadein 1s;
}

@keyframes cardfadein {
  0% {
    opacity: 0;
  }
  
  25% {
    opacity: 0;
  }
  
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes cardfadein { /* sur Firefox */
  0% {
    opacity: 0;
  }
  
  25% {
    opacity: 0;
  }
  
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes cardfadein { /* sur Safari et Chrome */
  0% {
    opacity: 0;
  }
  
  25% {
    opacity: 0;
  }
  
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes cardfadein { /* sur Opera */
  0% {
    opacity: 0;
  }
  
  25% {
    opacity: 0;
  }
  
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

.titleCard {
    font-size: 1.4em;
    letter-spacing: 1px;
    color: rgb(236 228 222);
    font-family: 'Alatsi';
    font-weight: 400;
    user-select: none;
    /* -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: white; */
}
.titleCard::after {
    content:"_";
    font-size: 1em;
    animation: fadein 1s infinite;
    -moz-animation: fadein 1s infinite; 
    -webkit-animation: fadein 1s infinite; 
    -o-animation: fadein 1s infinite; 
}

@keyframes fadein {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @-moz-keyframes fadein { /* sur Firefox */
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @-webkit-keyframes fadein { /* sur Safari et Chrome */
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

.iconReseauBox{
    display: flex;
    justify-content: space-between;
    width: 60%;
    height: fit-content;
    margin: 4% auto;
    color: rgb(236 228 222);
}

.icon {
    width: 35px;
    height: 35px;
    cursor: pointer;
    color:rgb(236 228 222);
}

.iconAlt {
    width: 20px;
    height: 20px;
    margin-top: 5%;
    cursor: pointer;
    color:rgb(236 228 222);
}

.aIcon{
  width: 33px;
  height: 33px;
  padding-top: 3px;
}

.iconCV{
  width: 100%;
  height: 100%;
  color:rgb(236 228 222);
}

.infoCard{
    /* display: flex; */
}

.textInfoCard {
    font-size: 1.1em;
    font-family: 'Alatsi';
    letter-spacing: 1px;
    font-weight: 200;
    color:rgb(236 228 222);
    margin-bottom: 3%;
}

.icon:hover , .iconAlt:hover {
    color: white;
    animation: gradiantColor1 5s infinite;
}


@keyframes gradiantColor1 {
    from,
      to {
      color: hsl(120, 100%, 50%);
    }
    20% {
      color: hsl(211, 100%, 50%);
    }
    40% {
      color: hsl(352, 99%, 64%);
    }
    60% {
      color: hsl(45, 100%, 51%);
    }
    80% {
      color: hsl(261, 51%, 51%);
    }
    100% {
      color: hsl(0, 0%, 100%);
    }
  }

  @-moz-keyframes gradiantColor1 { /* sur Firefox */
    from,
      to {
      color: hsl(120, 100%, 50%);
    }
    20% {
      color: hsl(211, 100%, 50%);
    }
    40% {
      color: hsl(352, 99%, 64%);
    }
    60% {
      color: hsl(45, 100%, 51%);
    }
    80% {
      color: hsl(261, 51%, 51%);
    }
    100% {
      color: hsl(0, 0%, 100%);
    }
  }

  @-webkit-keyframes gradiantColor1 { /* sur Safari et Chrome */
    from,
      to {
      color: hsl(120, 100%, 50%);
    }
    20% {
      color: hsl(211, 100%, 50%);
    }
    40% {
      color: hsl(352, 99%, 64%);
    }
    60% {
      color: hsl(45, 100%, 51%);
    }
    80% {
      color: hsl(261, 51%, 51%);
    }
    100% {
      color: hsl(0, 0%, 100%);
    }
  }

  @-o-keyframes gradiantColor1 { /* sur Opera */
    from,
      to {
      color: hsl(120, 100%, 50%);
    }
    20% {
      color: hsl(211, 100%, 50%);
    }
    40% {
      color: hsl(352, 99%, 64%);
    }
    60% {
      color: hsl(45, 100%, 51%);
    }
    80% {
      color: hsl(261, 51%, 51%);
    }
    100% {
      color: hsl(0, 0%, 100%);
    }
  }

  @media only screen and (min-width: 768px) and (max-width: 1024px){
    /* Styles spécifiques pour les tablettes en mode portrait */

    .presentationCardContainer {
      width: 20vw;
      left:1%;
      bottom: 0;
    }
    .presensationCard {
      left: 3%;
      bottom: 7%;
    }
  }

  @media only screen and (max-width: 480px) {
    /* Styles à appliquer uniquement aux mobiles en mode paysage */
    .presentationCardContainer {
      display: none;
    }
    .presensationCard {
      display: none;
    }
  }