 .contactFormContainer {
    height: 100%;
    width: 480px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}

.titleForm {
    color: rgba(255, 255, 255, 0.831);
    z-index: 10;
    text-align: center;
    margin-top: 3%;
}

.formBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 80%;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.831);
    z-index: 15;
  }

.inputForm1, .inputForm2,.inputForm3,.inputForm4,.inputForm5 {
    width: 100%;
    height: 35px;
    padding: 7px;
    outline: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.831);
    color: rgba(255, 255, 255, 0.831);
}

.inputForm1:focus {
    border: 2px solid #FE4760;
}
.inputForm2:focus {
    border: 2px solid #F76B15;
}
.inputForm3:focus {
    border: 2px solid #0F0;
}
.inputForm4:focus {
    border: 2px solid #007bff;
}
.inputForm5:focus {
    border: 2px solid #6f42c1;
}

.textAreaForm1,.textAreaForm2,.textAreaForm3,.textAreaForm4,.textAreaForm5 {
    max-width: 100%;
    min-width: 100%;
    width: 100%;
    max-height: 100px;
    min-height: 100px;
    padding: 7px;
    outline: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.831);
    border: 1px solid rgb(220, 220, 220);
}

.textAreaForm1:focus {
    border: 2px solid #FE4760;
}
.textAreaForm2:focus {
    border: 2px solid #F76B15;
}
.textAreaForm3:focus {
    border: 2px solid #0F0;
}
.textAreaForm4:focus {
    border: 2px solid #007bff;
}
.textAreaForm5:focus {
    border: 2px solid #6f42c1;
}

.formBox label {
    margin-top: 1rem;
}

/* .textAreaForm1 input.buttonForm {
    margin-top: 2rem;
    cursor: pointer;
    background: #FE4760;
    color: white;
    border: none;
}

.textAreaForm2 input.buttonForm {
    margin-top: 2rem;
    cursor: pointer;
    background: #F76B15;
    color: white;
    border: none;
}
.textAreaForm3 input.buttonForm {
    margin-top: 2rem;
    cursor: pointer;
    background: #0F0;
    color: white;
    border: none;
}
.textAreaForm4 input.buttonForm {
    margin-top: 2rem;
    cursor: pointer;
    background: #007bff;
    color: white;
    border: none;
}
.textAreaForm5 input.buttonForm {
    margin-top: 2rem;
    cursor: pointer;
    background: #6f42c1;
    color: white;
    border: none;
} */


.card2Project {
  position: relative;
  width: 100%;
  height: 450px;
  background-color: #0000002e;
  display: flex;
  flex-direction: column;
  padding: 12px;
  gap: 12px;
  border-radius: 8px;
  cursor: pointer;
  z-index: 6;
  border: 1px solid white;

  }


  .buttonForm {
    --border-radius: 15px;
    --border-width: 4px;
    appearance: none;
    position: relative;
    padding: 1em 2em;
    border: 0;
    background-color: rgb(0 0 0 / 15%);
    font-family: "Roboto", Arial, "Segoe UI", sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #ece4de;
    z-index: 2;
    border-radius: 20px;
    margin-top: 8%;
   }
   
   .buttonForm::after {
    --m-i: linear-gradient(#000, #000);
    --m-o: content-box, padding-box;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: var(--border-width);
    border-radius: var(--border-radius);
    background-image: conic-gradient(
           #488cfb,
           #29dbbc,
           #ddf505,
           #ff9f0e,
           #e440bb,
           #655adc,
           #488cfb
       );
    -webkit-mask-image: var(--m-i), var(--m-i);
    mask-image: var(--m-i), var(--m-i);
    -webkit-mask-origin: var(--m-o);
    mask-origin: var(--m-o);
    -webkit-mask-clip: var(--m-o);
    mask-composite: exclude;
    -webkit-mask-composite: destination-out;
    filter: hue-rotate(0);
    animation: rotate-hue linear 500ms infinite;
    animation-play-state: paused;
   }
   
   .buttonForm:hover::after {
    animation-play-state: running;
   }
   
   @keyframes rotate-hue {
    to {
     filter: hue-rotate(1turn);
    }
   }
   
   .buttonForm,
   .buttonForm::after {
    box-sizing: border-box;
   }
   
   .buttonForm:active {
    --border-width: 5px;
   }



   @media only screen and (max-width: 480px) {
    /* Styles à appliquer uniquement aux mobiles en mode paysage */
    .contactFormContainer {
        height: 100%;
        width: 100%;
    }
  }

