.dashboardContainer {
    position: fixed;
    top: 40px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 755px;  
    animation: dashborardfadein 15s;
    -moz-animation: dashborardfadein 15s; /* Firefox */
    -webkit-animation: dashborardfadein 15s; /* Safari et Chrome */
    -o-animation: dashborardfadein 15s; /* Opera */
}

@keyframes dashborardfadein {
  0% {
    opacity: 0;
  }
  
  25% {
    opacity: 0;
  }
  
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes dashborardfadein { /* sur Firefox */
  0% {
    opacity: 0;
  }
  
  25% {
    opacity: 0;
  }
  
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes dashborardfadein { /* sur Safari et Chrome */
  0% {
    opacity: 0;
  }
  
  25% {
    opacity: 0;
  }
  
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes dashborardfadein { /* sur Opera */
  0% {
    opacity: 0;
  }
  
  25% {
    opacity: 0;
  }
  
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

.LogoTBMenu{
  width: 40px;
  height: 80%;
  border-radius: 10px;
}

.ulNavBox {
  display: flex;
  justify-content: space-around;
  margin: 2% 2%;
  width: 100%;
  background: #00000087;
  border-radius: 25px;
}

.ulNavBox li{
  width: 142px;
  text-align: center;
}

.liNav2,.liNav3, .liNav4,.liNavAlt {
    color: rgb(236 228 222);
    text-align: center;
    font-size: 16px;
    font-weight: 900;
    margin: 2% 4%;
    width: fit-content;
    height: fit-content;
    user-select: none;
}

.imgBoxUl{
  margin: 0 4%;
}

.imgBoxUl:hover,.liNav2:hover,.liNav3:hover,.liNav4:hover{
    color: white;
    cursor: pointer;
}

/* .liNav::after {
    content: '_';
    font-weight: 900;
    font-size: 16px;
}  */

.iconDashboard{
    color: rgb(236 228 222);
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.iconDashboardAlt{
    color: rgb(236 228 222);
    width: 22px;
    height: 22px;
    cursor: pointer;
}



.iconDashboard:hover, .iconDashboardAlt:hover {
    color: white;
}



/* .liNav.actifNav { */
  /* color:#007bff;  */
  /* text-decoration: underline;
  text-decoration-color: #007bff;
  text-underline-offset: 8px;
  text-decoration-thickness: 3px; */
  /* animation: gradiantColorNav 5s infinite; */
/* } */

.liNavAlt.actifNav1::after,.liNavAlt.actifNav2::after,.liNavAlt.actifNav3::after,.liNavAlt.actifNav4::after,.liNavAlt.actifNav5::after,.liNavAlt.actifNav6::after,.liNavAlt.actifNav7::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 22px;
  width: 184px;
  height: 3px; /* Épaisseur du soulignement */
 /* Couleur du soulignement */
  display: block;
}
.liNav2.actifNav1::after,.liNav2.actifNav2::after,.liNav2.actifNav3::after,.liNav2.actifNav4::after,.liNav2.actifNav5::after,.liNav2.actifNav6::after,.liNav2.actifNav7::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 205px;
  width: 188px;
  height: 3px;
  background-color: #007bff;
  display: block;
} 

.liNav3.actifNav1::after,.liNav3.actifNav2::after,.liNav3.actifNav3::after,.liNav3.actifNav4::after,.liNav3.actifNav5::after,.liNav3.actifNav6::after,.liNav3.actifNav7::after{
  content: "";
  position: absolute;
  bottom: 0;
  right: 172px;
  width: 190px;
  height: 3px;
  background-color: #007bff;
  display: block;
} 

.liNav4.actifNav1::after,.liNav4.actifNav2::after,.liNav4.actifNav3::after,.liNav4.actifNav4::after,.liNav4.actifNav5::after,.liNav4.actifNav6::after,.liNav4.actifNav7::after{
  content: "";
  position: absolute;
  bottom: 0;
  right: -16px;
  width: 188px;
  height: 3px;
  background-color: #007bff;
  display: block;
} 

.liNavAlt.actifNav1::after,.liNav2.actifNav1::after,.liNav3.actifNav1::after,.liNav4.actifNav1::after{
  background-color: #FE4760;
} 

.liNavAlt.actifNav2::after,.liNav2.actifNav2::after,.liNav3.actifNav2::after,.liNav4.actifNav2::after{
  background-color: #ffc107;
} 

.liNavAlt.actifNav3::after,.liNav2.actifNav3::after,.liNav3.actifNav3::after,.liNav4.actifNav3::after{
  background-color: #ffff62;
} 

.liNavAlt.actifNav4::after,.liNav2.actifNav4::after,.liNav3.actifNav4::after,.liNav4.actifNav4::after{
  background-color: #0F0;
}

.liNavAlt.actifNav5::after,.liNav2.actifNav5::after,.liNav3.actifNav5::after,.liNav4.actifNav5::after{
  background-color: #007bff;
}

.liNavAlt.actifNav6::after,.liNav2.actifNav6::after,.liNav3.actifNav6::after,.liNav4.actifNav6::after{
  background-color: #6f42c1;
}
.liNavAlt.actifNav7::after,.liNav2.actifNav7::after,.liNav3.actifNav7::after,.liNav4.actifNav7::after{
  animation: gradiantColorNav 5s infinite;
}
  
    @keyframes gradiantColorNav {
    from,
    to {
      background-color: hsl(120, 100%, 50%);
    }
    20% {
      background-color: hsl(211, 100%, 50%);
    }
    40% {
      background-color: hsl(352, 99%, 64%);
    }
    60% {
      background-color: hsl(45, 100%, 51%);
    }
    80% {
      background-color: hsl(261, 51%, 51%);
    }
    100% {
      background-color: hsl(0, 0%, 100%);
    }
    }
    @-moz-keyframes gradiantColorNav {
    from,
        to {
        color: hsl(120, 100%, 50%);
    }
    20% {
        color: hsl(211, 100%, 50%);
    }
    40% {
        color: hsl(352, 99%, 64%);
    }
    60% {
        color: hsl(45, 100%, 51%);
    }
    80% {
        color: hsl(261, 51%, 51%);
    }
    100% {
        color: hsl(0, 0%, 100%);
    }
    }
    @-webkit-keyframes gradiantColorNav {
    from,
        to {
        color: hsl(120, 100%, 50%);
    }
    20% {
        color: hsl(211, 100%, 50%);
    }
    40% {
        color: hsl(352, 99%, 64%);
    }
    60% {
        color: hsl(45, 100%, 51%);
    }
    80% {
        color: hsl(261, 51%, 51%);
    }
    100% {
        color: hsl(0, 0%, 100%);
    }
    }
    @-o-keyframes gradiantColorNav {
    from,
        to {
        color: hsl(120, 100%, 50%);
    }
    20% {
        color: hsl(211, 100%, 50%);
    }
    40% {
        color: hsl(352, 99%, 64%);
    }
    60% {
        color: hsl(45, 100%, 51%);
    }
    80% {
        color: hsl(261, 51%, 51%);
    }
    100% {
        color: hsl(0, 0%, 100%);
    }
    } 

      
    /* @keyframes gradiantColorNav {
      from,
      to {
      color: hsl(28.235, 0.121, 0.898);
      }
      50% {
      color: hsl(211, 100, 50);
      }
      100% {
        color:  hsl(28.235, 0.121, 0.898);
        }
      }
      @-moz-keyframes gradiantColorNav {
        from,
        to {
          color: hsl(28.235, 0.121, 0.898);
          }
          50% {
            color: hsl(211, 100, 50);
          }
          100% {
            color:  hsl(28.235, 0.121, 0.898);
            }
      }
      @-webkit-keyframes gradiantColorNav {
        from,
        to {
          color: hsl(28.235, 0.121, 0.898);
          }
          50% {
            color: hsl(211, 100, 50);
          }
          100% {
            color:  hsl(28.235, 0.121, 0.898);
            }
      }
      @-o-keyframes gradiantColorNav {
        from,
        to {
          color: hsl(28.235, 0.121, 0.898);
          }
          50% {
            color: hsl(211, 100, 50);
          }
          100% {
            color:  hsl(28.235, 0.121, 0.898);
            }
      } */