.heroContainer{
    width: 100%;
    height: 165vh;
    animation: imgfadein 1s ease-in;
    -moz-animation: imgfadein 1s ease-in;  
    -webkit-animation: imgfadein 1s ease-in;  
    -o-animation: imgfadein 1s ease-in; 
}

.heroBox1 {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heroBox2 {
    width: 100%;
    margin: 6vh 0 4%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}


.h1Hero {
    text-align: center;
    color: #ece4de;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 2px;
}

.h2Hero {
    text-align: center;
    color: #ece4de;
    font-size: 45px;
    font-weight: 600;
    margin-top: 3%;
    letter-spacing: 2px;
}

.h3Hero {
    text-align: center;
    color: #ece4de;
    font-size: 25px;
    font-weight: 600;
    margin: 3% 0 1%;
    letter-spacing: 2px;
}

.boxH3Hero{
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 2.5%;
  font-size: 20px;
  color: #ece4de;
}


.boxPara{
  width: 33%;
}

.h3HeroAlt1{
  animation: colorWhiteFadeIn 4s ease-in infinite;
  -moz-animation: colorWhiteFadeIn 4s ease-in infinite;  
  -webkit-animation: colorWhiteFadeIn 4s ease-in infinite;
  -o-animation: colorWhiteFadeIn 4s ease-in infinite; 
}

.spanAlt1{
  color : #FE4760;
}

.spanAlt2{
  color : #F76B15;
}

.spanAlt3{
  color : #0F0;
}

.spanAlt4{
  color : #007bff;
}

.spanAlt5{
  color : #6f42c1;
}

@keyframes colorWhiteFadeIn {
  0% {
    opacity: 1;
  }

  25% {
    opacity: 0.5;
  }

  50% {
    opacity: 0;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes colorWhiteFadeIn { /* sur Firefox */
  0% {
    opacity: 1;
  }

  25% {
    opacity: 0.5;
  }

  50% {
    opacity: 0;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes colorWhiteFadeIn { /* sur Safari et Chrome */
  0% {
    opacity: 1;
  }

  25% {
    opacity: 0.5;
  }

  50% {
    opacity: 0;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes colorWhiteFadeIn { /* sur Opera */
  0% {
    opacity: 1;
  }

  25% {
    opacity: 0.5;
  }

  50% {
    opacity: 0;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.h3HeroAlt2{
  opacity: 0;
  animation: colorWhiteFadeIn2 4s ease-in infinite;
  -moz-animation: colorWhiteFadeIn2 4s ease-in infinite;  
  -webkit-animation: colorWhiteFadeIn2 4s ease-in infinite;
  -o-animation: colorWhiteFadeIn2 4s ease-in infinite; 
}

@keyframes colorWhiteFadeIn2 {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0.5;
  }

  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes colorWhiteFadeIn2 { /* sur Firefox */
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0.5;
  }

  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes colorWhiteFadeIn2 { /* sur Safari et Chrome */
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0.5;
  }

  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes colorWhiteFadeIn2 { /* sur Opera */
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0.5;
  }

  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}



.text1Hero,.text2Hero,.text3Hero,.h5Hero,.text4Hero {
    color: #ece4de;
    letter-spacing: 2px;
}

.text1Hero{
    font-size: 35px;
    position: relative;
}



.text2Hero{
    font-size: 45px;
    margin: 1% 0;
}

.text3Hero{
    font-size: 30px;
}

.heroBox3 {
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 80%;
    margin:auto;
}

.boxIconPara{
    width: 65px;
    height: 65px;
    margin: 0 auto 6%;
    background-color: #007bff;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boxIconPara1 {
    background: #fe475f5e;
}

.boxIconPara2 {
    background: #ffc10752;
}

.boxIconPara3 {
    background: #ffff625d;
}

.boxIconPara4 {
    background: rgba(0, 255, 0, 0.385);
}

.boxIconPara5 {
    background: rgba(0, 123, 255, 0.38);
}

.boxIconPara6 {
    background: #6e42c15e;
}

.boxIconPara7 {
    background-color: hsla(261, 51%, 51%, 0.308);
    animation: gradiantColorNav2 5s infinite;
}

.iconHero{
    width: 40px;
    height: 40px;
    color :#ece4de;
    vertical-align: center;
}

.h5Hero{
    font-size: 22px;
    margin-bottom: 5%;
    letter-spacing: 1px;
    
}

.text4Hero {
    font-size: 13px;
    padding: 0 5%;
    letter-spacing: 1px;
    line-height: 1.8em;
}

@keyframes gradiantColorNav2 {
    from,
    to {
      background-color: hsla(120, 100%, 50%, 0.407);
    }
    25% {
      background-color: hsla(211, 100%, 50%, 0.387);
    }
    50% {
      background-color: hsla(352, 99%, 64%, 0.406);
    }
    75% {
      background-color: hsla(45, 100%, 51%, 0.351);
    }
    100% {
      background-color: hsla(261, 51%, 51%, 0.308);
    }
    }
    @-moz-keyframes gradiantColorNav2 {
        to {
            background-color: hsla(120, 100%, 50%, 0.407);
          }
          25% {
            background-color: hsla(211, 100%, 50%, 0.387);
          }
          50% {
            background-color: hsla(352, 99%, 64%, 0.406);
          }
          75% {
            background-color: hsla(45, 100%, 51%, 0.351);
          }
          100% {
            background-color: hsla(261, 51%, 51%, 0.308);
          }
    }
    @-webkit-keyframes gradiantColorNav2 {
        to {
            background-color: hsla(120, 100%, 50%, 0.407);
          }
          25% {
            background-color: hsla(211, 100%, 50%, 0.387);
          }
          50% {
            background-color: hsla(352, 99%, 64%, 0.406);
          }
          75% {
            background-color: hsla(45, 100%, 51%, 0.351);
          }
          100% {
            background-color: hsla(261, 51%, 51%, 0.308);
          }
    }
    @-o-keyframes gradiantColorNav2 {
        to {
            background-color: hsla(120, 100%, 50%, 0.407);
          }
          25% {
            background-color: hsla(211, 100%, 50%, 0.387);
          }
          50% {
            background-color: hsla(352, 99%, 64%, 0.406);
          }
          75% {
            background-color: hsla(45, 100%, 51%, 0.351);
          }
          100% {
            background-color: hsla(261, 51%, 51%, 0.308);
          }
    } 

.loadHero{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 20% 2%;
}

    .loader {
      --path: #ece4de;
      --dot: white;
      --duration: 3s;
      width: 44px;
      height: 44px;
      position: relative;
    }
    
    .loader:before {
      content: '';
      width: 6px;
      height: 6px;
      border-radius: 50%;
      position: absolute;
      display: block;
      background: var(--dot);
      top: 37px;
      left: 19px;
      transform: translate(-18px, -18px);
      animation: dotRect var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
    }
    
    .loader svg {
      display: block;
      width: 100%;
      height: 100%;
    }
    
    .loader svg rect, .loader svg polygon, .loader svg circle {
      fill: none;
      stroke: var(--path);
      stroke-width: 10px;
      stroke-linejoin: round;
      stroke-linecap: round;
    }
    
    .loader svg polygon {
      stroke-dasharray: 145 76 145 76;
      stroke-dashoffset: 0;
      animation: pathTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
    }
    
    .loader svg rect {
      stroke-dasharray: 192 64 192 64;
      stroke-dashoffset: 0;
      animation: pathRect 3s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
    }
    
    .loader svg circle {
      stroke-dasharray: 150 50 150 50;
      stroke-dashoffset: 75;
      animation: pathCircle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
    }
    
    .loader.triangle {
      width: 48px;
    }
    
    .loader.triangle:before {
      left: 21px;
      transform: translate(-10px, -18px);
      animation: dotTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
    }
    
    @keyframes pathTriangle {
      33% {
        stroke-dashoffset: 74;
      }
    
      66% {
        stroke-dashoffset: 147;
      }
    
      100% {
        stroke-dashoffset: 221;
      }
    }
    
    @keyframes dotTriangle {
      33% {
        transform: translate(0, 0);
      }
    
      66% {
        transform: translate(10px, -18px);
      }
    
      100% {
        transform: translate(-10px, -18px);
      }
    }
    
    @keyframes pathRect {
      25% {
        stroke-dashoffset: 64;
      }
    
      50% {
        stroke-dashoffset: 128;
      }
    
      75% {
        stroke-dashoffset: 192;
      }
    
      100% {
        stroke-dashoffset: 256;
      }
    }
    
    @keyframes dotRect {
      25% {
        transform: translate(0, 0);
      }
    
      50% {
        transform: translate(18px, -18px);
      }
    
      75% {
        transform: translate(0, -36px);
      }
    
      100% {
        transform: translate(-18px, -18px);
      }
    }
    
    @keyframes pathCircle {
      25% {
        stroke-dashoffset: 125;
      }
    
      50% {
        stroke-dashoffset: 175;
      }
    
      75% {
        stroke-dashoffset: 225;
      }
    
      100% {
        stroke-dashoffset: 275;
      }
    }
    
    .loader {
      display: inline-block;
      margin: 0 16px;
    }
    
     
    .loaderAlt{
      margin-bottom: 4%;
    }

    .loadAlt1{
      --path : #FE4760;
    }
    
    .loadAlt2{
      --path : #F76B15;
    }
    
    .loadAlt3{
      --path : #0F0;
    }
    
    .loadAlt4{
      --path : #007bff;
    }
    
    .loadAlt5{
      --path : #6f42c1;
    }

  @media only screen and (min-width: 768px) and (max-width: 1024px){
    .heroBox1 {
      height: 100vh;
      margin-left: -14%;
    }
  }

  @media only screen and (max-width: 480px) {
    /* Styles à appliquer uniquement aux mobiles en mode paysage */
    .heroBox1 {
      height: 50m;
      margin-left: 0;
    }
    .h2Hero {
      font-size: 20px;
    }
    .h3Hero {
      font-size: 22px;
    }

    .h3HeroAlt1, .h3HeroAlt2 {
      font-size: 12px;
    }

    .text1Hero {
      font-size: 22px;
    }
    .text2Hero {
      font-size: 25px;
    }
    .text3Hero {
      font-size: 20px;
    }
    .h5Hero{
      font-size: 15px;
    }
    .text4Hero {
      font-size: 9px;
      margin-bottom: 5%;
    }
    .heroBox3 {
      text-align: center;
      flex-direction: column;
    }
    .boxPara {
      width: 100%;
    }
  }