.toggleLightDarkContainer {
    position: fixed;
    top: 1.8%;
    right: 2em;
    animation: imgfadein 1s ease-in;
    -moz-animation: imgfadein 1s ease-in;  
    -webkit-animation: imgfadein 1s ease-in;  
    -o-animation: imgfadein 1s ease-in; 
    z-index: 15;
}

.checkboxToggleLightDark {
    width: 100%;
    height: 100%;
    background-color: #0a1929;
    border-radius: 30px;
    position: relative;
    color: white;
    overflow: hidden;
  }
  
  #checkbox_toggle {
    display: none;
  }

  #checkbox_toggle2 {
    display: none;
  }
  
  .checkboxToggleLightDark .toggleToggleLightDark {
    width: 96px;
    height: 40px;
    position: absolute;
    border-radius: 30px;
    top: 4px;
    left: 6px;
    cursor: pointer;
    background: linear-gradient(40deg, #8983F7, #8983F7 70%);
    transition: 0.4s;
    box-shadow: -0px -0px 10px #8983F7, -0px -0px 3px #8983F7;
  }
  .checkboxToggleLightDarkAlt1 .toggleToggleLightDarkAlt1 {
    background: linear-gradient(40deg, #dac3c6, #FE4760 70%);
    box-shadow: -0px -0px 10px #FE4760, -0px -0px 3px #FE4760;
  }

  .checkboxToggleLightDarkAlt2 .toggleToggleLightDarkAlt2 {
    background: linear-gradient(40deg, #dbc6b9, #F76B15 70%);
    box-shadow: -0px -0px 10px #F76B15, -0px -0px 3px #F76B15;
  }

  .checkboxToggleLightDarkAlt3 .toggleToggleLightDarkAlt3 {
    background: linear-gradient(40deg, rgb(101, 114, 101), #0F0 70%);
    box-shadow: -0px -0px 10px #0F0, -0px -0px 3px #0F0;
  }

  .checkboxToggleLightDarkAlt4 .toggleToggleLightDarkAlt4 {
    background: linear-gradient(40deg, #c0cede, #007bff 70%);
    box-shadow: -0px -0px 10px #007bff, -0px -0px 3px #007bff;
  }

  .checkboxToggleLightDarkAlt5 .toggleToggleLightDarkAlt5 {
    background: linear-gradient(40deg, #b6abcb, #6f42c1 70%);
    box-shadow: -0px -0px 10px #6f42c1, -0px -0px 3px #6f42c1;
  }
  
  .checkboxToggleLightDark .slideToggleLightDark {
    width: 220px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
  }
  
  .checkboxToggleLightDark .slideToggleLightDark .textToggleLightDark {
    font-size: 13px;
    font-weight: 700;
    z-index: 100;
    cursor: pointer;
    color: black;
  }
  
  .checkToggleLightDark:checked + .checkboxToggleLightDark .slideToggleLightDark .toggleToggleLightDark {
    transform: translateX(113px);
    background: linear-gradient(40deg, #93a360,#ffffff 70%);
    box-shadow: 0px 0px 3px #93a360, 0px 0px 5px #93a360;
  }
  
  .checkToggleLightDark:checked + .checkboxToggleLightDark .slideToggleLightDark {
    background-color: #ddd6d6;
    color: black;
  }

  @media only screen and (max-width: 480px) {
    /* Styles à appliquer uniquement aux mobiles en mode paysage */
    .checkboxToggleLightDark .toggleToggleLightDark {
      width: calc(96px / 2);
      height: calc(40px / 2);
      top: 2px;
      left: 3px;
    }

    .checkboxToggleLightDark .slideToggleLightDark {
      width: calc(220px / 2);
      height: calc(48px / 2);
    }
    .checkboxToggleLightDark .slideToggleLightDark .textToggleLightDark {
      font-size: 9px;
    }
    .toggleLightDarkContainer {
      position: fixed;
      top: 4em;
      left: 0%;
      width: -moz-fit-content;
      width: fit-content;
  }
  .checkToggleLightDark:checked + .checkboxToggleLightDark .slideToggleLightDark .toggleToggleLightDark {
    transform: translateX(calc(113px / 2));
  }
  }