.cvContainer {
    width: 60vw;
    height: fit-content;
    background: rgb(236 228 222);
    position: relative;
    top: 20%;
    left: 0%;
    padding: 0 2% 2%;
    border-radius: 20px;
    border: 4px;
    overflow: auto;
    animation: fadeIn 2s ease-in;
}

@keyframes fadeIn {
    from,
      to {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }

.cvContainer div.cvBox{
    display: flex;
    color: black;
}

.cvContainer div.cvBox a{
    color: black!important;
    /* position: relative; */
}

.imgBox{
    position: relative;
}

.imgCv{
    width: auto;
    height: 150px;
    position: absolute;
    top: 0;
    right: 0;
    -webkit-transition: width 2s, height 2s;
    -moz-transition: width 2s, height 2s;
    -o-transition: width 2s, height 2s;
    transition: width 2s, height 2s;
}


.imgCv:hover {
    background-image: "../../../img/cvImg.png";
    /* background-size: cover; */
    width: auto;
    height: 100%;
}


.cvContainer div p {
    font-size: 14px;
    width: 90%;
}

.cvBox {
    display: flex;
    justify-content: space-between;
    height: 90%;
    margin-top : 2%;
}

.cvSection {
    width: 48%;
    margin-top:2%;
}

.cvSection div{
    margin : 2% 0;
}

.cvSection div ul li{
    font-size: 14px;
    margin: 1% 0;
}

.cvSection div h3, .cvSection div h4 {
    margin: 4% 0 2%;
}

.cvSection div p{
    font-size: 13px;
    margin: 1% 0;
    letter-spacing: 0.5px;

}