#Home{
  height: 200vh;
  padding-bottom: 10%;
}

#Competency, #Project, #Contact {
    height: 100vh;
}

.homeComponentsContainer {
  margin: 0% 0 2% 420px;
}


.textBackground {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 7vw;
    font-weight: 900;
    text-align: center;
    color: black;    
    animation: textbackgroundfadeout 11s ease-in-t;
    -moz-animation: textbackgroundfadeout 11s ease-in-out; /* Firefox */
    -webkit-animation: textbackgroundfadeout 11s ease-in-out; /* Safari et Chrome */
    -o-animation: textbackgroundfadeout 11s ease-in-out; /* Opera */
}


@keyframes textbackgroundfadeout {
    from,
    to {
      opacity: 1;
    }
      100% {
        opacity: 0;
    }
  }
  @-moz-keyframes textbackgroundfadeout { /* sur Firefox */
    from,
    to {
      opacity: 1;
    }
      100% {
        opacity: 0;
    }
  }
  @-webkit-keyframes textbackgroundfadeout { /* sur Safari et Chrome */
    from,
    to {
      opacity: 1;
    }
      100% {
        opacity: 0;
    }
  }
  @-o-keyframes cardftextbackgroundfadeoutadein { /* sur Opera */
    from,
    to {
      opacity: 1;
    }
      100% {
        opacity: 0;
    }
  }

  @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    /* Styles spécifiques pour les tablettes en mode portrait */
    .homeComponentsContainer {
      margin: 0% 0 2% 23%;
    }

    #Home {
      height: 175vh;
  }

    #Project{
      height: 110vh;
      padding-top: 30%;
    }
  }

  @media only screen and (max-width: 480px) {
    /* Styles à appliquer uniquement aux mobiles en mode paysage */
    .homeComponentsContainer {
      margin: 0% 0 2% 0;
    }

    #Contact {
      height: 100vh;
    }
    #Competency{
      height: fit-content;
      padding: 24% 0;
    }
    #Project{
      height: fit-content;
    }
  }