
.typeAnimation {
    width: 51vw;
    max-width: 900px;
    margin: 16.5% 12%;
    background: rgb(236 228 222);
    border-radius: 20px;
    border: 4px solid black;
    padding: 2%;
    height: fit-content;
    cursor: default;
    position: relative;
    animation: typeAnimation 3s;
    -moz-animation: typeAnimation 3s; /* Firefox */
    -webkit-animation: typeAnimation 3s; /* Safari et Chrome */
    -o-animation: typeAnimation 3s; /* Opera */
}

@keyframes typeAnimation {
    0% {
      opacity: 0;
    }
    
    25% {
      opacity: 0;
    }
    
    50% {
      opacity: 0;
    }
    75% {
      opacity: 0.8;
    }
    100% {
      opacity: 1;
    }
  }
  @-moz-keyframes typeAnimation { /* sur Firefox */
    0% {
      opacity: 0;
    }
    
    25% {
      opacity: 0;
    }
    
    50% {
      opacity: 0;
    }
    75% {
      opacity: 0.8;
    }
    100% {
      opacity: 1;
    }
  }
  @-webkit-keyframes typeAnimation { /* sur Safari et Chrome */
    0% {
      opacity: 0;
    }
    
    25% {
      opacity: 0;
    }
    
    50% {
      opacity: 0;
    }
    75% {
      opacity: 0.8;
    }
    100% {
      opacity: 1;
    }
  }
  @-o-keyframes cardfadein { /* sur Opera */
    0% {
      opacity: 0;
    }
    
    25% {
      opacity: 0;
    }
    
    50% {
      opacity: 0;
    }
    75% {
      opacity: 0.8;
    }
    100% {
      opacity: 1;
    }
  }

.typeAnimation::before {
    content: '';
    position: absolute;
    top: -1vw;
    left: -10vw;
    width: 75px;
    height: 40px;
    background: rgb(236 228 222);
    border-radius: 20px;    
    animation: typeAnimation1 2s;
    -moz-animation: typeAnimation1 2s; /* Firefox */
    -webkit-animation: typeAnimation1 2s; /* Safari et Chrome */
    -o-animation: typeAnimation1 2s; /* Opera */
}

@keyframes typeAnimation1 {
    0% {
      opacity: 0;
    }
    
    25% {
      opacity: 0;
    }
    
    50% {
      opacity: 0;
    }
    75% {
      opacity: 0.8;
    }
    100% {
      opacity: 1;
    }
  }
  @-moz-keyframes typeAnimation1 { /* sur Firefox */
    0% {
      opacity: 0;
    }
    
    25% {
      opacity: 0;
    }
    
    50% {
      opacity: 0;
    }
    75% {
      opacity: 0.8;
    }
    100% {
      opacity: 1;
    }
  }
  @-webkit-keyframes typeAnimation1 { /* sur Safari et Chrome */
    0% {
      opacity: 0;
    }
    
    25% {
      opacity: 0;
    }
    
    50% {
      opacity: 0;
    }
    75% {
      opacity: 0.8;
    }
    100% {
      opacity: 1;
    }
  }
  @-o-keyframes typeAnimation1 { /* sur Opera */
    0% {
      opacity: 0;
    }
    
    25% {
      opacity: 0;
    }
    
    50% {
      opacity: 0;
    }
    75% {
      opacity: 0.8;
    }
    100% {
      opacity: 1;
    }
  }

.typeAnimation::after {
    content: '';
    position: absolute;
    top: 0vw;
    left: -16vw;
    width: 40px;
    height: 20px;
    background: rgb(236 228 222);
    border-radius: 20px;
    animation: typeAnimation2 1s;
    -moz-animation: typeAnimation2 1s; /* Firefox */
    -webkit-animation: typeAnimation2 1s; /* Safari et Chrome */
    -o-animation: typeAnimation2 1s; /* Opera */
}

@keyframes typeAnimation2 {
    0% {
      opacity: 0;
    }
    
    25% {
      opacity: 0;
    }
    
    50% {
      opacity: 0;
    }
    75% {
      opacity: 0.8;
    }
    100% {
      opacity: 1;
    }
  }
  @-moz-keyframes typeAnimation2 { /* sur Firefox */
    0% {
      opacity: 0;
    }
    
    25% {
      opacity: 0;
    }
    
    50% {
      opacity: 0;
    }
    75% {
      opacity: 0.8;
    }
    100% {
      opacity: 1;
    }
  }
  @-webkit-keyframes typeAnimation2 { /* sur Safari et Chrome */
    0% {
      opacity: 0;
    }
    
    25% {
      opacity: 0;
    }
    
    50% {
      opacity: 0;
    }
    75% {
      opacity: 0.8;
    }
    100% {
      opacity: 1;
    }
  }
  @-o-keyframes typeAnimation2 { /* sur Opera */
    0% {
      opacity: 0;
    }
    
    25% {
      opacity: 0;
    }
    
    50% {
      opacity: 0;
    }
    75% {
      opacity: 0.8;
    }
    100% {
      opacity: 1;
    }
  }

.closeIcon {
    position: absolute;
    top:4%;
    right: 2%;
}