.themesBox1 {
  position: fixed;
  bottom: 12%;
  left: 59px;
  width: 310px;
  display: flex;
  justify-content: space-between;
  animation: cardfadein 2s; 
  -moz-animation: cardfadein 2s; 
  -webkit-animation: cardfadein 2s; 
  -o-animation: cardfadein 2s;
  z-index: 10;
}

.themesBox2 {
  position: fixed;
  bottom: 8%;
  left: 59px;
  width: 310px;
  display: flex;
  justify-content: space-between;
  animation: cardfadein 2s ease-in; 
  -moz-animation: cardfadein 2s ease-in; 
  -webkit-animation: cardfadein 2s ease-in; 
  -o-animation: cardfadein 2s ease-in;
  z-index: 10;
}


.btnThemes {
  width: 6vw;
  max-width: 100px;
  text-decoration: none;
  padding: 6px 0;
  font-family: arial;
  color: rgb(236 228 222);
  background-color: #000000;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border: 2px groove rgb(236 228 222);
  box-shadow: 3px 3px 12px #444444;
  -webkit-box-shadow: 3px 3px 12px #444444;
  -moz-box-shadow: 3px 3px 12px #444444;
  user-select: none;
  font-size: 12px;
  }
  
  
.btnThemes:hover {
  background-color: #2d2d2d;
  box-shadow: 3px 3px 12px #777777;
  -webkit-box-shadow: 3px 3px 12px #777777;
  -moz-box-shadow: 3px 3px 12px #777777;
}

.btnActif1, .btnThemesAtl1:hover {
  border-color: #FE4760;
}
.btnActif2, .btnThemesAtl2:hover {
  border-color: #F76B15;
}
.btnActif3, .btnThemesAtl3:hover {
  border-color: #0F0;
}
.btnActif4, .btnThemesAtl4:hover {
  border-color: #007bff;
}
.btnActif5, .btnThemesAtl5:hover {
  border-color: #6f42c1;
}
.btnActif6, .btnThemesAtl6:hover {
  border-color: white;
  animation: gradiantColor 5s infinite;
}

  @keyframes gradiantColor {
    from,
      to {
      border-color: hsl(120, 100%, 50%);
    }
    20% {
      border-color: hsl(211, 100%, 50%);
    }
    40% {
      border-color: hsl(352, 99%, 64%);
    }
    60% {
      border-color: hsl(45, 100%, 51%);
    }
    80% {
      border-color: hsl(261, 51%, 51%);
    }
    100% {
      border-color: hsl(0, 0%, 100%);
    }
  }

  @-moz-keyframes gradiantColor { /* sur Firefox */
    from,
      to {
      border-color: hsl(120, 100%, 50%);
    }
    20% {
      border-color: hsl(211, 100%, 50%);
    }
    40% {
      border-color: hsl(352, 99%, 64%);
    }
    60% {
      border-color: hsl(45, 100%, 51%);
    }
    80% {
      border-color: hsl(261, 51%, 51%);
    }
    100% {
      border-color: hsl(0, 0%, 100%);
    }
  }

  @-webkit-keyframes gradiantColor { /* sur Safari et Chrome */
    from,
    to {
      border-color: hsl(120, 100%, 50%);
    }
    20% {
      border-color: hsl(211, 100%, 50%);
    }
    40% {
      border-color: hsl(352, 99%, 64%);
    }
    60% {
      border-color: hsl(45, 100%, 51%);
    }
    80% {
      border-color: hsl(261, 51%, 51%);
    }
    100% {
      border-color: hsl(0, 0%, 100%);
    }
  }

  @-o-keyframes gradiantColor { /* sur Opera */
    from,
    to {
      border-color: hsl(120, 100%, 50%);
    }
    20% {
      border-color: hsl(211, 100%, 50%);
    }
    40% {
      border-color: hsl(352, 99%, 64%);
    }
    60% {
      border-color: hsl(45, 100%, 51%);
    }
    80% {
      border-color: hsl(261, 51%, 51%);
    }
    100% {
      border-color: hsl(0, 0%, 100%);
    }
  }

/* .btnActif8, .btnThemesAtl8:hover {
  border-color: black;
  color: black;
  background: white;
  } */


  @media only screen and (min-width: 768px) and (max-width: 1024px){
    /* Styles spécifiques pour les tablettes en mode portrait */
    .themesBox1{
      left: 1%;
      bottom:4%;
      width: 25%;
    }
    .themesBox2{
      left: 1%;
      bottom: 1%;
      width: 25%;
    }
  }

  @media only screen and (max-width: 480px) {
    /* Styles à appliquer uniquement aux mobiles en mode paysage */
    .themesBox1{
      display: none;
    }
    .themesBox2{
      display: none;
    }
  }