.containerSkill {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 5;
}
.overlaySkill {
    content: '';
    position: absolute;
    width: 100vw;
    height: 110%;
    background-color: #000000a1;
    top: 0;
    right: 0;
    z-index: -1;
}


.containerSkill h2 {
    color: #ece4de;
    text-align: center;
    display: block;
    width: fit-content;
    margin-bottom: 4%;
    letter-spacing: 4px;
    font-size: 30px;
}


.cardSkillBox {
    text-align: center;
}
.cardSkill{
    display: flex;
    justify-content: space-between;
    width: 170px;
    height: 60px;
    margin: auto;

}

.cardSkillAlt{
    justify-content: center;
}

.iconSkill{
   width: 50px;
   height: 50px;
   padding: 8px;
   border-radius: 12px;
   background-color: aliceblue;
}


.iconSkillAlt1{
    background-image: linear-gradient(135deg, #FFE770 0%, #FFE629 100%);
    box-shadow: 0 15px 30px -6px #fffab8da;
 }

 .iconSkillAlt2{
    background-image: linear-gradient(135deg, #EFACB8 0%, #E592A3 100%);
    box-shadow: 0 15px 30px -6px #F6CEE7;
 }

 .iconSkillAlt3{
    background-image: linear-gradient(135deg, #E0C4F4 0%, #BE93E4 100%);
    box-shadow: 0 15px 30px -6px #E1D9FF;
 }

 .iconSkillAlt4{
    background-image: linear-gradient(135deg, #D1F0FA 0%, #74DAF8 100%);
    box-shadow: 0 15px 30px -6px #D5EFFF;
 }

 .iconSkillAlt5{
    background-image: linear-gradient(135deg, #8BCEB6 0%, #56BA9F 100%);
    box-shadow: 0 15px 30px -6px #CCF3EA;
 }

 .iconSkillAlt6{
    background-image: linear-gradient(135deg, #D3BCB3 0%, #A18072 100%);
    box-shadow: 0 15px 30px -6px #EFE4DF;
 }

 .iconSkillAlt7{
    background-image: linear-gradient(135deg, #FFC182 0%, #EC9455 100%);
    box-shadow: 0 15px 30px -6px #FFD19A;
 }

 .iconSkillAlt8{
    background-image: linear-gradient(135deg, #ACD8FC 0%, #8DA4EF 100%);
    box-shadow: 0 15px 30px -6px #A9DAED;
 }

 .iconSkillAlt9{
    background-image: linear-gradient(135deg, #D3E7A6 0%, #8DB654 100%);
    box-shadow: 0 15px 30px -6px #D3E7A6;
 } 

 .iconSkillAlt10{
    background-image: linear-gradient(135deg, #feb692 0%, #ea5455 100%);
    box-shadow: 0 15px 30px -6px #FFCDC2;
 } 

.containerTextSkill{
    color: #ece4de;
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
    width: 60vw;
}

.boxTextSkill{
    margin-top: 5%;
}

.boxTextSkill h3{
    margin-bottom: 20px;
}

.boxTextSkill li{
    font-family: 'Alatsi';
    margin-bottom: 20px;
    letter-spacing: 1px;
    font-weight: 700;
    text-decoration: solid;
    text-decoration-color: white;
}

.boxTextSkill li::before{
    content: "•";
    padding-right: 8px;
} 

.textSkillAlt1{
    color:#FFE629;
}

.textSkillAlt2{
    color:#E592A3;
}

.textSkillAlt3{
    color:#BE93E4;
}

.textSkillAlt4{
    color:#74DAF8;
}

.textSkillAlt5{
    color:#56BA9F;
}

.textSkillAlt6{
    color:#A18072;
}

.textSkillAlt7{
    color:#EC9455;
}

.textSkillAlt9{
    color:#8DA4EF;
}

.textSkillAlt8{
    color:#8DB654;
}

.textSkillAlt10{
    color:#ea5455;
}

@media only screen and (max-width: 480px) {
    /* Styles à appliquer uniquement aux mobiles en mode paysage */
    .overlaySkill {
        height: 130%;
        top: -15%;
    }
    .containerSkill h2{
        font-size: 25px;
    }

    .boxTextSkill h3 {
        font-size: 15px;
        text-align: center;
    }
    .boxTextSkill li {
        text-align: center;
        font-size: 12px;
    }
    .containerTextSkill {
        width: 90%;
        flex-direction: column;
    }
    
  }