.dashboardContainer {
    position: fixed;
    top: 40px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;  
    animation: dashborardfadein 1s ease-in;
    -moz-animation: dashborardfadein 1s ease-in;  
    -webkit-animation: dashborardfadein 1s ease-in;
    -o-animation: dashborardfadein 1s ease-in; 
    z-index: 11;
}

@keyframes dashborardfadein {
  0% {
    opacity: 0;
  }
  
  25% {
    opacity: 0;
  }
  
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes dashborardfadein { /* sur Firefox */
  0% {
    opacity: 0;
  }
  
  25% {
    opacity: 0;
  }
  
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes dashborardfadein { /* sur Safari et Chrome */
  0% {
    opacity: 0;
  }
  
  25% {
    opacity: 0;
  }
  
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes dashborardfadein { /* sur Opera */
  0% {
    opacity: 0;
  }
  
  25% {
    opacity: 0;
  }
  
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

.LogoTBMenu{
  width: 40px;
  height: 100%;
  padding: 4px 0 0;
}

.ulNavBox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px 10px;
  width: 100%;
  background: black;
  border-radius: 25px;
  text-transform: uppercase;
}

.ulNavBoxBlack{
  background: white!important;
}

.ulNavBox li{
  width: 25%;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
}

.liNav2,.liNav3, .liNav4,.liNavAlt {
    color: rgb(236 228 222);
    text-align: center;
    width: fit-content;
    height: fit-content;
    user-select: none;
}

.liNavBlack {
  color: black!important;
}

.imgBoxUl{
  margin: 0 2%;
}

.imgBoxUl:hover,.liNav2:hover,.liNav3:hover,.liNav4:hover{
    color: white;
    cursor: pointer;
}


.iconDashboard{
    color: rgb(236 228 222);
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.iconDashboardAlt{
    color: rgb(236 228 222);
    width: 22px;
    height: 22px;
    cursor: pointer;
}



.iconDashboard:hover, .iconDashboardAlt:hover {
    color: white;
}



/* .liNav.actifNav { */
  /* color:#007bff;  */
  /* text-decoration: underline;
  text-decoration-color: #007bff;
  text-underline-offset: 8px;
  text-decoration-thickness: 3px; */
  /* animation: gradiantColorNav 5s infinite; */
/* } */

.liNavAlt .actifNav1::after .active,.liNavAlt.actifNav2::after .active,.liNavAlt.actifNav3::after .active,.liNavAlt.actifNav4::after .active,.liNavAlt.actifNav5::after .active,.liNavAlt.actifNav6::after .active,.liNavAlt.actifNav7::after .active{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 25%;
  height: 3px; /* Épaisseur du soulignement */
 /* Couleur du soulignement */
  display: block;
}

.liNavAlt.actifNav1::after,.liNavAlt.actifNav2::after,.liNavAlt.actifNav3::after,.liNavAlt.actifNav4::after,.liNavAlt.actifNav5::after,.liNavAlt.actifNav6::after,.liNavAlt.actifNav7::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 25%;
  height: 3px; /* Épaisseur du soulignement */
  background-color: #007bff;
  display: block;
}
.liNav2.actifNav1::after,.liNav2.actifNav2::after,.liNav2.actifNav3::after,.liNav2.actifNav4::after,.liNav2.actifNav5::after,.liNav2.actifNav6::after,.liNav2.actifNav7::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 25%;
  width: 25%;
  height: 3px;
  background-color: #007bff;
  display: block;
} 

.liNav3.actifNav1::after,.liNav3.actifNav2::after,.liNav3.actifNav3::after,.liNav3.actifNav4::after,.liNav3.actifNav5::after,.liNav3.actifNav6::after,.liNav3.actifNav7::after{
  content: "";
  position: absolute;
  bottom: 0;
  right: 25%;
  width: 25%;
  height: 3px;
  background-color: #007bff;
  display: block;
} 

.liNav4.actifNav1::after,.liNav4.actifNav2::after,.liNav4.actifNav3::after,.liNav4.actifNav4::after,.liNav4.actifNav5::after,.liNav4.actifNav6::after,.liNav4.actifNav7::after{
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 25%;
  height: 3px;
  background-color: #007bff;
  display: block;
} 

.liNavAlt.actifNav1::after,.liNav2.actifNav1::after,.liNav3.actifNav1::after,.liNav4.actifNav1::after{
  background-color: #FE4760;
} 

.liNavAlt.actifNav2::after,.liNav2.actifNav2::after,.liNav3.actifNav2::after,.liNav4.actifNav2::after{
  background-color: #F76B15;
} 

.liNavAlt.actifNav3::after,.liNav2.actifNav3::after,.liNav3.actifNav3::after,.liNav4.actifNav3::after{
  background-color: #ffff62;
} 

.liNavAlt.actifNav4::after,.liNav2.actifNav4::after,.liNav3.actifNav4::after,.liNav4.actifNav4::after{
  background-color: #0F0;
}

.liNavAlt.actifNav5::after,.liNav2.actifNav5::after,.liNav3.actifNav5::after,.liNav4.actifNav5::after{
  background-color: #007bff;
}

.liNavAlt.actifNav6::after,.liNav2.actifNav6::after,.liNav3.actifNav6::after,.liNav4.actifNav6::after{
  background-color: #6f42c1;
}
.liNavAlt.actifNav7::after,.liNav2.actifNav7::after,.liNav3.actifNav7::after,.liNav4.actifNav7::after{
  animation: gradiantColorNav 5s infinite;
}
  
    @keyframes gradiantColorNav {
    from,
    to {
      background-color: hsl(120, 100%, 50%);
    }
    25% {
      background-color: hsl(211, 100%, 50%);
    }
    50% {
      background-color: hsl(352, 99%, 64%);
    }
    75% {
      background-color: hsl(45, 100%, 51%);
    }
    100% {
      background-color: hsl(261, 51%, 51%);
    }
    }
    @-moz-keyframes gradiantColorNav {
      to {
        background-color: hsl(120, 100%, 50%);
      }
      25% {
        background-color: hsl(211, 100%, 50%);
      }
      50% {
        background-color: hsl(352, 99%, 64%);
      }
      75% {
        background-color: hsl(45, 100%, 51%);
      }
      100% {
        background-color: hsl(261, 51%, 51%);
      }
    }
    @-webkit-keyframes gradiantColorNav {
      to {
        background-color: hsl(120, 100%, 50%);
      }
      25% {
        background-color: hsl(211, 100%, 50%);
      }
      50% {
        background-color: hsl(352, 99%, 64%);
      }
      75% {
        background-color: hsl(45, 100%, 51%);
      }
      100% {
        background-color: hsl(261, 51%, 51%);
      }
    }
    @-o-keyframes gradiantColorNav {
      to {
        background-color: hsl(120, 100%, 50%);
      }
      25% {
        background-color: hsl(211, 100%, 50%);
      }
      50% {
        background-color: hsl(352, 99%, 64%);
      }
      75% {
        background-color: hsl(45, 100%, 51%);
      }
      100% {
        background-color: hsl(261, 51%, 51%);
      }
    } 

    a{
      text-decoration: none;
      color: rgb(236 228 222);
      scroll-behavior: smooth;
    }

    @media only screen and (max-width: 480px) {
      /* Styles spécifiques pour les smartphones en mode portrait */
      .dashboardContainer {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        transform: translate(0 ,0);
      }
      .ulNavBox {
        margin: 0;
        background: #000000;
      }
      .ulNavBox li {
        font-size: 9px;
      }
  }