/* .nameTitle{
  position: fixed;
  top: 3.5%;
  left: 55%;
  transform: translate(-50%,-50%);
  color: transparent;
  font-size: 2em;
  font-weight: 800;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: white;
} */

