@font-face {
  font-family: 'Basement_Grotesque_Roman';
  src: url('./font/basement_grotesque/BasementGrotesque-Black.woff2') format('woff2'),
      url('./font/basement_grotesque/BasementGrotesque-Black.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@import url('https://fonts.googleapis.com/css?family=Alatsi:700|Alatsi:400');


body {
  margin: 0;
  font-family: "Basement_Grotesque_Roman",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: #2b1151; */
  background: black;
  scrollbar-color: #346abf white; 
  scrollbar-width: auto; 
  overflow-y: scroll;
  scroll-behavior: smooth;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  /* Styles spécifiques pour les tablettes en mode portrait */
  body {
    /* Exemple : bloquer le défilement horizontal */
    overflow-x: hidden;
  }
}


@media only screen and (max-width: 480px) {
  /* Styles à appliquer uniquement aux mobiles en mode paysage */
  body {
    /* Exemple : bloquer le défilement horizontal */
    overflow-x: hidden;
  }

  /* Ajoutez d'autres styles selon vos besoins */
}

section {
  scroll-behavior: smooth;
  height: fit-content;
}
body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(236 228 222);
  outline: 1px solid slategrey;
  border-radius: 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Basement_Grotesque_Roman",
  sans-serif;
}

.WallCanva {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
}
